# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas

| Data Science Tools |
|---|
| SAS |
| TensorFlow |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#this is a common arithmetic exammple to multiply and then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

_Objectives:_
* Listed popular languages used in Data Science
* Listed popular libraries used in Data Science
* Listed well known tools used in Data Science
* Introduced arithmetic expression examples

## Author
Shaz